@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar::after {
    content:"";
    position: absolute;
    background: url(./assets//home/header_bottom_shape.png);
    left: 0;
    right: 0;
    height: 20px;
    bottom: -20px;
    width: 1499px;
    margin: 0 auto;
    background-repeat: no-repeat;
}
.header_popular::after{
    content: "";
    background: url(./assets/home/title_shape.png);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 98px;
    height: 7px;
}
.pre::before{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 26px;
    background: #292b37;
    box-sizing: border-box;
}
@layer components {
    .btn {
     @apply  bg-black-color rounded-full px-9 py-4 border-blue-darken border-2 font-bold text-[12px] cursor-pointer
    }
    .card-container :hover .card-img{
        @apply opacity-30
    }
    .card-container :hover  .card-details{
        @apply  opacity-100 
        
    }
    .card-container :hover .card-btn{
        @apply opacity-100 -translate-y-0
    }
     
}