@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar::after {
    
    position: absolute;
    background: url(./assets//home/header_bottom_shape.png);
    left: 0;
    right: 0;
    height: 20px;
    bottom: -20px;
    width: 1499px;
    margin: 0 auto;
    background-repeat: no-repeat;
    @apply 2xl:hidden
}
.header_popular::after{
    content: "";
    background: url(./assets/home/title_shape.png);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 98px;
    height: 7px;
}
.pre::before{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 26px;
    background: #292b37;
    box-sizing: border-box;
}
.test {
    transition: max-height 1.5s;
}
.test2 {
    transition: max-height 0.5s;
}
.toprate-header::before{
    content: "";
    background: url(./assets/home/title_shape.png);
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    width: 98px;
    height: 7px;
    
    margin:  auto;
}
.banner::before{
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.3;
    left: 0;
    top: 0;
    position: absolute;
    background-color: black;
}



@layer components {
    .btn {
     @apply  bg-black-color rounded-full px-9 py-4 border-blue-darken border-2 font-bold cursor-pointer text-[12px] cursor-pointer hover:bg-yellow-color hover:text-black
    }
    .card-container :hover .card-img{
        @apply opacity-30
    }
    .card-container :hover  .card-details{
        @apply  opacity-100 
        
    }
    .card-container :hover .card-btn{
        @apply opacity-100 -translate-y-0
    }
    
    .slide-active {
        @apply w-[1052px] 
    }
    .slick-slide{
        @apply w-[1052px] 
    }
    .btn-pagnination {
        @apply px-5 py-2 border-[1.5px] bg-black border-white border-solid font-semibold hover:bg-yellow-color hover:text-black hover:border-yellow-color
    }
    
     
}